[user]
	name =
  	email =
[github]
	user =
  	token =
  	password =
[core]
	excludesfile = /home/jsoares/.gitignore
[color]
	ui = auto
[alias]
	st = status -s
	ci = commit
	co = checkout
  	br = branch
	df = diff
	lg = log -p
	ft = fetch -v
  fta = fetch --all -v
	lol = log --graph --decorate --oneline
  	lola = log --all --graph --decorate --oneline
	logd = log --oneline --graph --decorate --all
  logo = log --oneline --decorate
	loga = log --oneline --decorate --all
[push]
  	default = current
